<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-android-adding-resources" version="1.0.0">
    <name>CocoonAndroidAddingResources</name>
    <description>Cocoon Adding Resources</description>
    <license>MPL 2.0</license>
    <keywords>cordova,resources,drawable</keywords>
    <repo>https://github.com/ludei/atomic-plugins-notifications</repo>    

    <platform name="android">

        <resource-file src="res/drawable-mdpi/mynoticon.png" target="res/drawable-mdpi/mynoticon.png" />
        <resource-file src="res/drawable-mdpi-v11/mynoticon.png" target="res/drawable-mdpi-v11/mynoticon.png" />

        <resource-file src="res/drawable-hdpi/mynoticon.png" target="res/drawable-hdpi/mynoticon.png" />
        <resource-file src="res/drawable-hdpi-v11/mynoticon.png" target="res/drawable-hdpi-v11/mynoticon.png" />

        <resource-file src="res/drawable-xhdpi/mynoticon.png" target="res/drawable-xhdpi/mynoticon.png" />
        <resource-file src="res/drawable-xhdpi-v11/mynoticon.png" target="res/drawable-xhdpi-v11/mynoticon.png" />

        <resource-file src="res/drawable-xxhdpi/mynoticon.png" target="res/drawable-xxhdpi/mynoticon.png" />
        <resource-file src="res/drawable-xxhdpi-v11/mynoticon.png" target="res/drawable-xxhdpi-v11/mynoticon.png" />

        <resource-file src="res/drawable-xxxhdpi/mynoticon.png" target="res/drawable-xxxhdpi/mynoticon.png" />
        <resource-file src="res/drawable-xxxhdpi-v11/mynoticon.png" target="res/drawable-xxxhdpi-v11/mynoticon.png" />

    </platform>
</plugin>